name: emulator-app
services:
  emulator:
    container_name: "servicebus-emulator"
    image: mcr.microsoft.com/azure-messaging/servicebus-emulator:latest@sha256:353913ece3d9124cebd40f4b91d00dd197846b8cf86eae9a4790698709c64a1d
    pull_policy: always
    volumes:
      - "./servicebus-config.json:/ServiceBus_Emulator/ConfigFiles/Config.json"
    ports:
      - "5672:5672"
      - "5300:5300"
    environment:
      BLOB_SERVER: azurite
      METADATA_SERVER: azurite
      SQL_SERVER: sqledge
      MSSQL_SA_PASSWORD: P@ssw0rd # Password should be same as what is set for SQL Edge
      ACCEPT_EULA: Y
    depends_on:
      - sqledge
      - azurite
    networks:
      sb-emulator:
        aliases:
          - "sbemulator"

  sqledge:
    container_name: "sqledge"
    image: "mcr.microsoft.com/azure-sql-edge:latest@sha256:902628a8be89e35dfb7895ca31d602974c7bafde4d583a0d0873844feb1c42cf"
    ports:
      - "1431:1433" # Host:Container
    networks:
      sb-emulator:
        aliases:
          - "sqledge"
    environment:
      ACCEPT_EULA: Y
      MSSQL_SA_PASSWORD: P@ssw0rd
    volumes:
      - "./init-test-db.sql:/opt/init-test-db.sql"

  azurite:
    container_name: "azurite"
    image: "mcr.microsoft.com/azure-storage/azurite:latest@sha256:647c63a91102a9d8e8000aab803436e1fc85fbb285e7ce830a82ee5d6661cf37"
    pull_policy: always
    ports:
      - "10000:10000"
      - "10001:10001"
      - "10002:10002"
    volumes:
      - "./azurite-data:/data"
    command: "azurite --blobHost 0.0.0.0 --queueHost 0.0.0.0 --tableHost 0.0.0.0 --location /data"
    networks:
      sb-emulator:
        aliases:
          - "azurite"
  mongodb:
    image: mongo:7.0@sha256:e5a902689e34e4fc635d4bc494aa45aea44924db9afeb58ea451d22826ce5afd
    container_name: mongodb
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_ROOT_USERNAME: testuser
      MONGO_INITDB_ROOT_PASSWORD: testpass
    networks:
      sb-emulator:
        aliases:
          - "mongodb"

  redis:
    image: redis:7.2-alpine@sha256:395ccd7ee4db0867de0d0410f4712a9e0331cff9fdbd864f71ec0f7982d3ffe6
    container_name: redis
    ports:
      - "6380:6379"
    networks:
      sb-emulator:
        aliases:
          - "redis"

  mockservice:
    image: wiremock/wiremock:3.3.1@sha256:684a27557e02c3ec36effec17ad6a51ef4f1b5a443e7a26d227f90f9b79e03e8
    container_name: mockservice
    ports:
      - "8081:8080"
    networks:
      sb-emulator:
        aliases:
          - "mockservice"
    volumes:
      - ./.mocks:/home/wiremock/mappings

networks:
  sb-emulator:
